.navStyle {
    background-color: #26004d;
    font-family: 'Red Rose', cursive;
}

.numberSpan {
    background-color:white;
    color: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

button.timer:hover {
    background-color:orange;
}

button.timer {
    font-weight: 800;
    
}

.court {
    font-family: 'Red Rose', cursive;
}